@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* Optional: Use the font globally via CSS variable */
html {
    --primary-color: #65007d;
    /* --dashboard-navigation-hover-color: rgb(64, 64, 255); */
    --dashboard-bg-color: #fafafa;
    --dashboard-body-color: #1e1e1e;
    --dashboard-light-color: #494949;
    --dashboard-dark-color: #171717;
    --dashboard-icon-color: #171717;
    --dashboard-body-color-dark: #171717;
    --dashboard-search-bg-color: #1e1e1e;
}
body {
    font-family: "Space Grotesk", sans-serif;
    max-width: 1920px;
    margin-inline: auto;
}
.container-fluid {
    width: min(90%, 1200px);
    margin-inline: auto;
}

/* html {
    font-family: var(--font-plus-jakarta), sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
} */

@layer components {
    .input-default-style {
        @apply w-full my-2 rounded-md outline outline-gray-300 outline-offset-2 py-2 px-3 hover:outline-sky-500 user-invalid:border-pink-500 user-invalid:text-pink-600 focus:border-sky-500 focus:outline-2 focus:outline-offset-2  focus:outline-sky-500 focus:user-invalid:border-pink-500 focus:user-invalid:outline-pink-500 transition-colors duration-300 ease-in-out;
    }

    .result-table-row-style > td {
        @apply py-3 px-1.5 border border-gray-100 whitespace-nowrap;

        &:not(&:nth-child(2)) {
            @apply text-center;
        }
    }
}
@layer utilities {
    .subgrid-row {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }
}
.container {
    max-width: min(85%, 900px);
    margin-inline: auto;
}
